<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <div class="dashboard-container">
      <h2>Welcome, <span>{{fullName}}</span>!</h2>
      <p class="dashboard-text">
        Thank you for joining our platform. Explore the features and make the
        most out of your experience!
      </p>
      <button class="dashboard-button" onclick="openUserDetailsModal()">
        View Profile
      </button>
      <button class="settings-button" onclick="openSettingsModal()">
        Settings
      </button>

      <!-- Modal for User Details -->
      <div class="user-details-modal" id="userDetailsModal">
        <div class="modal-content">
          <p class="dashboard-text"><strong>Username: </strong>{{fullName}}</p>
          <p class="dashboard-text"><strong>Email: </strong>{{eMail}}</p>
          <a href="/logout" class="logout-button">Logout</a>
          <span class="close-button" onclick="closeUserDetailsModal()">✖</span>
        </div>
      </div>

      <!-- Modal for Settings -->
      <div class="settings-modal" id="settingsModal">
        <div class="modal-content">
          <h2>Settings</h2>
          <div class="edit-fields">
            <form id="updateForm" action="update" method="PUT" onsubmit="return validateForm()">
              <label for="editUsername">New Full Name:</label>
              <input
                type="text"
                id="newFullName"
                name="newFullName"
                placeholder="Enter new Full Name"
                value="{{fullName}}"
              />
              <small
                id="newFullNameError"
                class="error-message"
              ></small>

              <label for="editEmail">New Email:</label>
              <input
                type="email"
                id="newEmail"
                name="newEmail"
                placeholder="Enter new email"
                value="{{eMail}}"
              />
              <small
                id="newEmailError"
                class="error-message"
              ></small>

              <label for="editPassword">Current Password:</label>
              <input
                type="password"
                id="currentPassword"
                name="currentPassword"
                placeholder="Enter current password"
              />
              <small
                id="currentPasswordError"
                class="error-message"
              >{{replacePassword}}</small>

              <label for="editPassword">New Password:</label>
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                placeholder="Enter new password"
              />
              <small
                id="newPasswordError"
                class="error-message"
              ></small>
              {{!-- <div class="settings-options"> --}}
              <button class="save-changes-button" type="submit">
                Save Changes
              </button>
              {{!-- </div> --}}
            </form>
          </div>
          <div class="settings-options"></div>
            <button class="delete-account-button" type="button" onclick="deleteAccount()">
              Delete Account
            </button>
            <span class="close-button" onclick="closeSettingsModal()">✖</span>
          </div>
        </div>
      </div>
    </div>

    <script src="/scripts/dashboard.js"></script>
  </body>
</html>